// background Navbar

$backgroundBubbleNavbar: #DBEDFF;
$backgroundBubbleNavbarHover: #AAD0ED;
$backgroundStrokeLine: #1B70A8;


//color Text
$colorTextNavbar:#325972;
$colorTextNavbarHover:#325972;

//colorTextPAge
$colorTextTitle:#707070;

//new
$backgroundContainerNav:#D2E8F3;